version: '3.8'

services:
  db:
    image: postgres:16
    container_name: blognest-db
    environment:
      POSTGRES_DB: blognest
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpass
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: blognest-app
    environment:
      DB_URL: jdbc:postgresql://db:5432/blognest
      DB_USER: bloguser
      DB_PASSWORD: blogpass
    depends_on:
      - db
    ports:
      - "8081:8080"

volumes:
  db_data:
